{% extends 'master.html' %}
{% load static %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    .container {
        font-family: 'Poppins', sans-serif;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
    }

    .mark-all-as-read-button {
        background-color: #aa0000;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 10px;
        width: 150px;
    }
    .header {
        width: 20%;
        max-width: 800px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .back-button {
        font-size: 20px;
        cursor: pointer;
        color: #000;
        margin-right: 20px;
        text-decoration: none;
        position: absolute;
        left: 0;
        font-weight: bold;
    }
    .headersm {
        font-size: 14px;
        text-align: left;
        width: 100%;
        max-width: 800px;
    }
    .headersm h2 {
        margin: 0;
        font-weight: bold;
    }
    .no-news {
        text-align: center;
        width: 100%;
        grid-column: 1 / -1;
    }
    .notifications-list {
        list-style: none;
        padding: 0;
        width: 100%;
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .notification-card {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .notification-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 20px; /* Add space between image and text */
    }
    .notification-image img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px; /* Add space between image and name */
    }
    .notification-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Allow details to take available space */
        margin-right: 20px; /* Add space between text and button */
    }
    .notification-details h3 {
        margin: 0 0 10px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .notification-details .event, 
    .notification-details .group,
    .notification-details .last-seen {
        font-size: 14px;
        color: #666;
        margin: 5px 0;
    }
    .notification-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Align buttons to the end */
    }
    .notification-actions a,
    .notification-actions button {
        background: none;
        border: none;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        background-color: black;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px 20px;
    }
</style>
<div class="container">
    <div class="header">
        <a class="back-button" href="{% url 'main' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.854 15.854a.5.5 0 0 1-.708 0l-5.5-5.5a.5.5 0 0 1 0-.708l5.5-5.5a.5.5 0 0 1 .708.708L1.707 9.5H14.5a.5.5 0 0 1 0 1H1.707l4.147 4.146a.5.5 0 0 1 0 .708z"/>
            </svg>
        </a>
        <h1>Connect</h1>
    </div>
    <div class="header-container">
        <div class="headersm">
            <h2>New reminders</h2>
        </div>
        <form id="markAsReadAllForm" method="post" action="{% url 'mark_as_read' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="mark_all_as_read">
            <button type="submit" class="mark-all-as-read-button">Mark All as Read</button>
        </form>
    </div>
    <form id="markAsReadForm" method="post" action="{% url 'mark_as_read' %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="mark_as_read">
        <ul class="notifications-list">
            {% for notification in unread_notifications %}
            <li class="notification-card">
                <div class="notification-image">
                    {% if notification.contact.picture %}
                        <img src="{{ notification.contact.picture.url }}" alt="{{ notification.contact.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}profile_pics/default.jpg" id="contactImage">
                    {% endif %}
                    <h3>{{ notification.contact.name }}</h3>
                </div>
                <div class="notification-details">
                    <p class="event">EVENT: {{ notification.event }}</p>
                    <p class="group">GROUP: {{ notification.contact.groups.all|join:", "|default:None }}</p>
                    <p class="last-seen">LAST SEEN: {{ notification.last_seen|default:None }}</p>
                </div>
                <div class="notification-actions">
                    <a href="{% url 'notification_detail' notification.id %}" class="view-button">Connect</a>
                    <button type="submit" name="notification_ids" value="{{ notification.id }}" class="mark-as-read-button">Skip</button>
                </div>
            </li>
            {% empty %}
            <li class="no-news">No news yet!</li>
            {% endfor %}
        </ul>
    </form>

    <div class="headersm">
        <h2>Read</h2>
    </div>
    <ul class="notifications-list">
        {% for notification in read_notifications %}
        <li class="notification-card">
            <div class="notification-image">
                {% if notification.contact.picture %}
                    <img src="{{ notification.contact.picture.url }}" alt="{{ notification.contact.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}profile_pics/default.jpg" id="contactImage">
                {% endif %}
                <h3>{{ notification.contact.name }}</h3>
            </div>
            <div class="notification-details">
                <p class="event">EVENT: Meeting</p>
                <p class="group">GROUP: {{ notification.contact.groups.all|join:", "|default:None }}</p>
                <p class="last-seen">LAST SEEN: {{ notification.last_seen|default:None }}</p>
            </div>
            <div class="notification-actions">
                <a href="{% url 'notification_detail' notification.id %}" class="connect-button">Connect</a>
            </div>
        </li>
        {% empty %}
        <li></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
