{% extends "master.html" %}
{% load static %}

{% block title %}
  My Club
{% endblock %}

{% block content %}
<div class="home-container">
    {% if request.user.is_authenticated %}
      <h1>Welcome {{ request.user.username }}!</h1>
      <div class="profile-picture-container">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" id="profileImage">
                {% else %}
                    <img src="{{ MEDIA_URL }}profile_pics/default.jpg" id="profileImage">
                {% endif %}
      </div>
      <div class="menu-options">
          <a href="{% url 'connect' %}" class="menu-item connect-item">
              Connect
              {% if unread_notifications_count > 0 %}
                <span class="badge">{{ unread_notifications_count }}</span>
              {% else %}
                <span class="badge" style="display: none;">0</span>
              {% endif %}
          </a>
          <a href="{% url 'profile' %}" class="menu-item">My Profile</a>
          <a href="{% url 'groups' %}" class="menu-item">Groups</a>
          <a href="{% url 'contacts' %}" class="menu-item">Contacts</a>
          <a href="{% url 'calendar' %}" class="menu-item">Calendar</a>
          <a href="{% url 'logout' %}" class="menu-item">Logout</a>
      </div>
      <a href="{% url 'user_settings' %}" class="settings-icon">
        <i class="fa-solid fa-gear fa-rotate-90 fa-xl" style="color: #141415;"></i>
      </a>
    {% else %}
      <h1>Welcome!</h1>
      <p class="logo">connect</p>
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    .home-container {
        text-align: center;
    }

    .profile-picture-container {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-picture-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        margin: 10px 0;
        position: relative;
        font-size: 15px;
        font-weight: 600;
    }

    .connect-item {
        background-color: #526BEF;
        color: #fff;
    }

    .menu-item:hover {
        background-color: #555;
    }

    .badge {
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 4px 10px;
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .settings-icon {
        display: block;
        margin: 20px auto;
    }
    
</style>
{% endblock %}
