# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Node.js stuff:
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables file
.env

# VS Code configuration
.vscode/

# Redis
dump.rdb

# Python virtual environment
venv/