# Force GitHub to recognize certain file extensions as specific languages
*.py linguist-language=Python
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.json linguist-language=JSON